[Desktop Entry]
Type=Application
Name=Yazi
Comment=Terminal file manager
Exec=kitty -e yazi %F
Icon=folder
Terminal=false
Categories=System;FileManager;
