* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK JP", FontAwesome, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(32, 35, 58, 0.8);
    color: #E0E8F0;
    border-radius: 10px; 
    margin: 5px 5px; 
}

/* General module styling */
#workspaces,
#mode,
#clock,
#pulseaudio,
#tray,
#window {
    background-color: #3A506B;
    color: #E0E8F0;
    padding: 2px 12px; 
    margin: 4px 3px;
    border: 1px solid rgba(135, 206, 235, 0.2);
    box-shadow: 0 0 5px rgba(135, 206, 235, 0.1); 
}

#workspaces button {
    padding: 0 8px;
    color: #5E81AC;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background-color: rgba(135, 206, 235, 0.15);
    color: #87CEEB;
    box-shadow: 0 0 8px rgba(135, 206, 235, 0.3);
}

#workspaces button.active {
    background-color: #87CEEB;
    color: #20233A;
    font-weight: bold;
    box-shadow: inset 0 0 5px rgba(46, 49, 73, 0.5), 0 0 10px #87CEEB;
}

#workspaces button.urgent {
    background-color: #BF616A;
    color: #E0E8F0;
}

#mode {
    background-color: #8F6F9E;
    color: #E0E8F0;
    font-weight: bold;
    padding: 2px 10px;
}



#custom-battery {
  background-color: #3A506B;
  color: #E0E8F0;
  padding: 2px 12px;
  margin: 4px 3px;
  border: 1px solid rgba(135, 206, 235, 0.2);
  box-shadow: 0 0 5px rgba(135, 206, 235, 0.1);
  font-weight: normal;
}

#custom-battery.charging {
  background-color: #A3BE8C;
  color: #20233A;
}

#custom-battery.discharging {
  background-color: #3A506B;
}

#custom-battery.full {
  background-color: #5E81AC;
  font-weight: bold;
}





#window {
  font-style: italic;
  color: #87CEEB;
}
#window:hover {
  color: #E0E8F0;
}

#clock {
    background-color: #3A506B; 
    color: #E0E8F0; 
}

#pulseaudio.muted {
    color: #777; 
    background-color: #4C566A;
}

#tray {
    color: #E0E8F0
   
}
#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; background-color: #BF616A; border-radius: 6px; }
